## 무비렌즈 예제

In [ ]:
#특정영화와 비슷한 영화추천
import pandas as pd
import numpy as np

In [2]:
rating_data = pd.read_csv('ratings.csv')

In [3]:
movie_data = pd.read_csv('movies.csv')

In [4]:
rating_data.drop('timestamp',axis=1,inplace=True)
rating_data.head(2)

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0

In [5]:
movie_data.drop('genres',axis=1,inplace = True)
movie_data.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [6]:
user_movie_data= pd.merge(rating_data, movie_data,on='movieId')
user_movie_data.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

In [7]:
user_movie_data.shape

(100836, 4)

In [8]:
user_movie_rating = user_movie_data.pivot_table('rating',index='userId',columns='title').fillna(0)

In [9]:
user_movie_rating.shape

(610, 9719)

In [10]:
user_movie_rating.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
movie_user_rating = user_movie_rating.values.T
movie_user_rating.shape

(9719, 610)

In [12]:
from sklearn.decomposition import TruncatedSVD

In [13]:
SVD = TruncatedSVD(n_components=12)
matrix = SVD.fit_transform(movie_user_rating)
matrix.shape

(9719, 12)

In [14]:
matrix[0]

array([ 0.55545972,  0.80874172, -0.37061318, -0.06609341,  0.63173892,
       -1.00881146, -0.26056064, -0.81922464, -0.75860563,  0.30747128,
       -0.66783585, -1.01188156])

In [15]:
corr = np.corrcoef(matrix)
corr.shape

(9719, 9719)

In [16]:
corr

array([[ 1.        ,  0.29688201,  0.32829657, ...,  0.81673182,
        -0.06820314, -0.11028205],
       [ 0.29688201,  1.        ,  0.92499045, ...,  0.23227948,
        -0.0642819 , -0.17974268],
       [ 0.32829657,  0.92499045,  1.        , ...,  0.18432203,
         0.12714537,  0.06766138],
       ...,
       [ 0.81673182,  0.23227948,  0.18432203, ...,  1.        ,
         0.0089442 , -0.06084124],
       [-0.06820314, -0.0642819 ,  0.12714537, ...,  0.0089442 ,
         1.        ,  0.30523193],
       [-0.11028205, -0.17974268,  0.06766138, ..., -0.06084124,
         0.30523193,  1.        ]])

In [17]:
#import matplotlib.pyplot as plt
#import seaborn as sns

In [18]:
#ax = sns.heatmap(corr, cbar=True, annot=True)
#plt.title('Heatmap of Flight by seaborn', fontsize=20)

#plt.show()

In [19]:
movie_title = user_movie_rating.columns
movie_title_list = list(movie_title)
coffey_hands = movie_title_list.index("Guardians of the Galaxy (2014)")

In [24]:
corr_coffey_hands = corr[coffey_hands]
list(movie_title[(corr_coffey_hands >= 0.95)])[:15]

['Amazing Spider-Man, The (2012)',
 'Avengers, The (2012)',
 'Big Hero 6 (2014)',
 'Captain America: The First Avenger (2011)',
 'Deadpool (2016)',
 'Despicable Me (2010)',
 'Edge of Tomorrow (2014)',
 "Ender's Game (2013)",
 'Guardians of the Galaxy (2014)',
 'Inside Out (2015)',
 'Iron Man 2 (2010)',
 'John Wick (2014)',
 'Kingsman: The Secret Service (2015)',
 'Kung Fu Panda (2008)',
 'Mad Max: Fury Road (2015)']